.card {
	width: fit-content;
	height: fit-content;
	padding: 10px;
	background-color: #f9f9f9;
}

.card.profile {
	width: 700px;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	gap: 5px;
	align-items: center;
	margin: 0;
	padding: 0;
}

.subheader {
	display: flex;
	flex-direction: column;
}

.subheader h3 {
	margin: 0;
	padding: 0;
}

.profile-img {
	background-color: white;
	border: 1px solid black;
	border-radius: 50%;
}

.profile-img.small {
	width: 40px;
	height: 40px;
}

.profile-img.large {
	position: absolute;
	bottom: -15px;
	left: 30px;
	width: 120px;
	height: 120px;
}

.profile-header {
	position: relative;
}

.profile-body {
	padding: 10px;
	height: auto;
}

.profile-body p {
	padding: 0;
	margin: 0px;
}

.profile-body div p.name {
	font-size: 18px;
	font-weight: bold;
}

.profile-body div p.headline,
.profile-body div p.location {
	font-size: 13px;
	color: #888888;
}

.profile-body div p.company,
.profile-body div p.college {
	font-size: 15px;
	font-weight: bold;
}

.banner {
	top: 0;
	left: 0;
	width: 100%;
}

.profile-body {
	width: 100%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

.link {
	text-decoration: none;
	color: rgb(107, 91, 38);
}

a {
	text-decoration: none;
}

.list-item {
	border: #888888;
}
