.card {
	width: fit-content;
	height: fit-content;
	padding: 15px;
	margin: 0;
	background-color: #f9f9f9;
}

.profile {
	width: 700px;
	display: flex;
	flex-direction: column;
}

.posts {
	width: 500px;
}

.connections {
	width: 80%;
	display: flex;
	flex-direction: column;
}

.connections-wrapper {
	display: flex;
	gap: 10px;
}

.card-connection {
	width: 30%;
	border: 1px solid var(--gray-bg-color-light);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.card-connection:hover {
	box-shadow: 10px 8px 6px -2px rgba(0, 0, 0, 0.36);
	-webkit-box-shadow: 10px 8px 6px -2px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 10px 8px 6px -2px rgba(0, 0, 0, 0.36);
}

.card-connection button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: 1px solid var(--main-bg-color);
	border-radius: 20px;
	line-height: 1.25rem;
	font-size: 16px;
	font-weight: bold;
	color: var(--main-bg-color);
}

.card-connection button:hover {
	border: 2px solid var(--main-bg-color);
	background-color: var(--main-bg-color-light);
}

.header {
	display: flex;
	gap: 5px;
	align-items: center;
	margin: 0;
	padding: 0;
	position: relative;
}

.subheader {
	display: flex;
	flex-direction: column;
}

.subheader small {
	font-size: 12px;
	color: var(--gray-bg-color-dark);
}

.profile-img {
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
}

.profile-img.small {
	width: 40px;
	height: 40px;
	object-fit: contain;
}

.profile-img.medium {
	width: 60px;
	height: 60px;
	position: absolute;
	object-fit: contain;
	bottom: -10px;
	left: 5px;
}

.profile-img.large {
	position: absolute;
	object-fit: contain;
	bottom: -20px;
	left: 30px;
	width: 120px;
	height: 120px;
}

.profile-header {
	position: relative;
	width: 100%;
	height: 250px;
}

.image-container {
	width: 100%;
}

.image-container .link {
	position: absolute;
	left: 40px;
	bottom: -15px;
	background-color: white;
	border: 1px solid black;
	padding: 5px;
	border-radius: 50%;
	display: flex;
	transition: all 250ms;
	cursor: pointer;
}

.image-container button {
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: black;
	color: #c4c4c4;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
	padding: 5px;
	font-size: 14px;
	letter-spacing: 1.5px;
}

.profile-body {
	padding: 10px;
	height: auto;
}

.profile-body p {
	padding: 0;
	margin: 0px;
}

.profile-body div p.name {
	font-size: 18px;
	font-weight: bold;
}

.profile-body div p.headline,
.profile-body div p.location {
	font-size: 13px;
	color: #888888;
}

.profile-body div p.company,
.profile-body div p.college {
	font-size: 15px;
	font-weight: bold;
}

.banner {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.banner + button {
	cursor: pointer;
}

.profile-body {
	width: 100%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

.link {
	text-decoration: none;
	color: black;
}

a {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

.list-item {
	border: #888888;
}

.toggleMenu {
	width: 350px;
	display: flex;
	flex-direction: column;
	position: fixed;
	gap: 10px;
	right: 0px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 15px;
}

.menuHeader {
	width: 100%;
	padding: 0px;
	display: flex;
	gap: 15px;
	align-items: center;
}

.menu-item {
	cursor: pointer;
	display: flex;
	gap: 20px;
	align-items: center;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
}

.menu-item:hover {
	background-color: #c4c4c4;
}

.btn-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.btn-link {
	font-size: 24px;
	cursor: pointer;
}

.btn-link.btn-liked {
	color: var(--main-bg-color);
}

.btn-header {
	display: flex;
	justify-content: space-between;
}

.btn-title {
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #888888;
}

hr {
	background-color: rgb(181, 181, 181);
	height: 1px;
	border: 0;
}

.btn-item {
	display: flex;
	align-items: center;
	gap: 5px;
}

.blue {
	cursor: pointer;
	font-weight: bold;
	color: var(--main-bg-color);
}

.black {
	cursor: pointer;
	font-weight: bold;
	color: black;
}

.btn-footer {
	display: flex;
	gap: 25px;
}

.comment-container {
	display: flex;
	align-items: center;
	position: relative;
}

.comment-input {
	width: 100%;
	line-height: 1.45rem;
	padding: 10px;
	border: 1px solid var(--gray-bg-color);
	border-radius: 15px;
	color: var(--gray-bg-color-dark);
}

.comment-input:focus {
	outline: 1px solid var(--gray-bg-color-dark);
	color: var(--gray-bg-color-dark);
}

.send-icon {
	color: var(--gray-bg-color);
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	transition: color 250ms ease 250ms;
}

.send-icon:hover {
	color: var(--gray-bg-color-dark);
}

.comment-link {
	cursor: pointer;
}

.comment-link:hover {
	text-decoration: underline;
}

.comments-container {
	padding: 10px;
	max-height: 500px;
	overflow: auto;
}

.comment-item {
	display: flex;
	align-items: center;
	gap: 5px;
}

.comment-body {
	padding: 10px;
	background-color: var(--gray-bg-color);
	border-radius: 20px;
	margin-bottom: 10px;
	width: 100%;
}

.comment-header {
	display: flex;
	align-items: center;
	gap: 5px;
}

.comment-body small {
	font-size: 12px;
	color: var(--gray-bg-color-dark);
}

.comment-content {
	padding: 10px;
}

.form {
	display: flex;
	gap: 5px;
	padding: 10px;
}

.form input {
	padding: 5px;
	width: 100%;
	line-height: 1.25em;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
}

.update-btns {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.update-btns svg {
	padding: 5px;
}

.update-btns svg:hover {
	background-color: #c2c2c2;
	border-radius: 50%;
}
