.navigation {
	width: 100%;
	height: 60px;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.87);
}

.navigation a {
	margin-left: 20px;
}

.navigation img {
	margin-right: 20px;
	cursor: pointer;
}

.profile-img {
	width: 32px;
	height: 32px;
	border: 1px solid black;
	border-radius: 50%;
	object-fit: contain;
}

.logo {
	width: 40px;
	height: 40px;
}

.links {
	display: flex;
	gap: 30px;
	list-style: none;
}

.link a {
	text-decoration: none;
}

.link svg {
	cursor: pointer;
}

.icon {
	color: #787878;
}

.icon:hover {
	color: black;
}

.btn {
	padding: 5px;
	width: 8rem;
	height: 2.5rem;
	background-color: transparent;
	border: 1px solid var(--gray-bg-color);
	cursor: pointer;
	font-size: 1.2rem;
}

.btn:hover {
	border: 1px solid var(--main-bg-color-dark);
}

.search-wrapper {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.search-form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.search-form input {
	width: 100%;
	padding: 10px;
	border: var(--gray-bg-color-light);
	border-radius: 10px;
}

.search-form input::placeholder {
	color: var(--gray-bg-color-light);
}

.search-form input:focus {
	outline: none;
	border: 2px solid var(--main-bg-color);
}

.search-form input:focus::placeholder {
	color: var(--gray-bg-color-dark);
}

.search-form svg {
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.search-popmenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50px;
	width: calc(100% - 20px);
	background-color: aliceblue;
	padding: 10px;
	margin: 0 !important;
}

.submenu-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	width: calc(100% - 20px);
	padding: 10px;
}

.submenu-item h3 {
	font-size: 16px;
}

.submenu-item span {
	font-size: 15px;
	letter-spacing: 0.3em;
}

.submenu-item:hover {
	background-color: var(--gray-bg-color-light);
}

.popover {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 200px;
	padding: 5px;
}
