.navigation {
	width: 100%;
	height: 60px;
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: rgba(255, 255, 255, 0.87);
}

.navigation div:last-child {
	margin-left: auto;
	margin-right: 40px;
}

.profile-img {
	width: 32px;
	height: 32px;
	border: 1px solid black;
	border-radius: 50%;
}

.logo {
	width: 40px;
	height: 40px;
}

.links {
	display: flex;
	gap: 30px;
	list-style: none;
}

.link a {
	text-decoration: none;
}

.icon {
	color: #787878;
}

.icon:hover {
	color: black;
}

.login-btn {
	padding: 5px;
	width: 8rem;
	height: 2.5rem;
	background-color: transparent;
	border: 1px solid var(--gray-bg-color);
	cursor: pointer;
	font-size: 1.2rem;
}

.login-btn:hover {
	border: 1px solid var(--main-bg-color-dark);
}
